:root{
	--basic-blue:#32425C;
	--basic-darkblue:#293449;
	--basic-background:#F1F5F7;
	--special-background:#F9F5F0;
	--basic-red:#EE3643;
	--basic-green:#63A63E;
	--basic-grey:#3D546F;
	--basic-lightgrey:#C5C5C5;
	--basic-white:#FFFFFF;
	--basic-darkgreen:#518534;
	--special-yellow:#FFBF47;
	--special-blue:#3BBCE3;
	--special-lilac:#DC91D8;
	--special-greenlight:#8ED78F;
	--special-yellowlight:#FFD180;
	--spesial-rose:#FF5357;
	--special-darkblue:#161D29;
	--special-grey: #C5C5C5;
	--spesial-for-adress:#F3F7F9;
	--special-for-footer-nav:#F1F5F7;
	--spesial-heading:#F9F5F0;
	--warning:#FFBF47;
	--mistake:#BA2732;
	--success:#5FBB2D;
	--grey:#E0DDD9;
	--purple-background:#F7F3EC;
	--active-darkblue:#1D2729;
	--hover-darkblue:#293449;
	--icon-background:#212A3A;
	--price-grey: #A9A9A9;
	--border-light-grey:#EAEAEA;
	--active-green:#518534;
	--range-thumb-bg:#ABABAB;
	--runnable-track-bg:#D7DCDE;
	--runnable-track-border:#E8E8E1;
	--heading-bg: #F9F5F0;
	--border-color:#E5E5E5;
	--delivery-bg: #FFC047;
}
html{
	box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body{
	margin:0;
	font-family: 'Cuprum', sans-serif,arial;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.main-header{
	background-color: var(--basic-background);
	height:343px;
}
a{
	text-decoration: none;
	display: inline-block;
}
.img-logo{
	background-color: var(--basic-red,red);
}
.header-wrapper{
	display:flex;
	height:42px;
}
.link-logo{
	background-color: var(--basic-red,red);
	height:47px;
	width:220px;
}
.header-wrapper a{
	line-height: 36px;
	padding-top: 9px;
	padding-bottom: 9px;
} 
.header-wrapper{
    background-color: var(--basic-darkblue);
}
.header-wrapper a{
	height:42px;
	vertical-align: middle;
	margin:0; 
}
.main-nav{
	background-color: var(--basic-blue)
}
.header-wrapper a,
.main-nav a{
	color:var(--basic-white, white);
	font-size: 18px;
	line-height: 24px; 
}
.search{
	background-color: var(--basic-darkblue);
	border:none;
	background-image: url(img/icon-search.svg);
	background-repeat: no-repeat;
	background-position:;
	font-size: 18px;
	line-height: 24px; 
}
.search:focus{
	background-color: var(--basic-white);
	outline: none;
}
.search::placeholder{
	color:var(--basic-white, white);
	font-size: 18px;
	line-height: 24px; 
}
.cart{
	background-color:var(--basic-darkblue, blue);
	color:var(--basic-white, white);
	text-decoration: none;
	background-image: url(img/icon-cart.svg);
	background-repeat: no-repeat;
}
.bookmark{
	background-image: url(img/icon-bookmark.svg);
	background-repeat: no-repeat;
}
.bookmark:active,
.cart:active{
	opacity:.5;
	background-color: var(--special-darkblue);
}
.bookmark:hover,
.bookmark:focus{
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z' fill='%23fff' opacity='1'/%3E%3C/svg%3E");
}
.cart:hover,
.cart:focus{
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1' fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951V2z'/%3E%3C/g%3E%3C/svg%3E");
}
.order{
	background-color: var(--basic-green, red);
	color:var(--basic-white, white);
	text-decoration: none;
}
.order:active{
	opacity: .5;
}
.order:hover{
	background-color: var(--success)
}
.access{
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 21px;
	color:black;
}
.access:hover,
.access:focus{
	color: var(--basic-red);
}
.access:active{
	color: var(--special-grey);
}
.user-block{
	background-color: var(--basic-white);
	background-image: url(img/icon-user.svg);
	background-repeat: no-repeat;
}
.user-name{
	color:black;
	background-color: rgba(0, 0, 0, 0.0001);
	position: relative;
	left:20px;
	font-size: 21px;
	line-height: 21px;
}
.user-name:active{
	color:var(--special-grey);
}
.user-name:hover{
	color:var(--basic-red);
}
.user-orders,
.user-account{
	color:var(--basic-blue);
	font-size: 16px;
	line-height: 18px;
}
.user-orders:hover,
.user-account:hover{
	color:var(--basic-red);
}
.user-orders:active,
.user-account:active{
	color:var(--special-grey);
}
.exit{
	background-image: url(img/icon-logout.svg);
	background-repeat: no-repeat;
	width:20px;
	height:17px;
	border:none;
}
.login{
	background-image: url(img/icon-login.svg);
	background-repeat: no-repeat;
}
.definition{
    font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color:var(--basic-red);
}
.phone{
	color:var(--basic-red);
	font-size: 21px;
	line-height: 30px; 
	border:3px solid var(--basic-white);
	background-image: url(img/icon-phone.svg);
	background-repeat: no-repeat;
	font-weight: bold;
}
.head-contact a{
	display: block;
}
.header-adress{
	font-size: 14px;
	line-height: 24px;
	color:var(--basic-blue);
}
.main-nav ul{
	list-style: none;
}
.main-nav li{
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
}
.main-nav li:hover,
.main-nav li:focus{
	background-color: var(--hover-darkblue);
}
.main-nav li:active{
	background-color: var(--active-darkblue);
	opacity: .5;
}
.pop-up{
	display: none;
}
.footer{
	background-color: var(--basic-blue);
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}
.footer a{
	color: var(--basic-white);
}
.footer ul{
	list-style: none;
}
.footer-links{
	background-color: var(--basic-darkblue);
	color:white;
	font-size: 16px;
	line-height: 18px;
}
.social-net a{
	background-repeat: no-repeat;
	background-position: center center;
	background-color:var(--icon-background);
	height:44px;
	width:44px;
	border-radius: 100px;
}
.social-net a:hover,
.social-net a:focus,
.social-net a:active{
	background-color: var(--basic-red)
}
.vk-icon{
	background-image: url(img/icon-vk.svg);
}
.fc-icon{
	background-image: url(img/icon-facebook.svg);
}
.ig-icon{
	background-image: url(img/icon-instagram.svg);
}
.footer .footer-nav-item{
	color:var(--special-yellowlight);

}
.footer-nav-item:hover,
.footer-nav-item:focus{
	text-decoration: underline;
	text-decoration-color: var(--special-yellowlight)
}
.footer-main-nav a:hover{
	text-decoration: underline;
	text-decoration-color: var(--basic-white)
}
.footer-nav-item:active,
.footer-main-nav a:active{
	opacity: .5;
	text-decoration:none;
}
.footer .dev-contacts{
	font-size: 16px;
	line-height: 18px;
}
.visually-hidden{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-logo{
	background-color: var(--basic-red);
}
.adress{
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white,white);
}
.button{
	font-size: 14px;
	line-height: 38px;
	text-transform: uppercase;
	height:38px;
	width:192px;
	text-align: center;
	font-family: Cuprum, sans-serif,arial;
}
.button-red{
	background-color:var(--basic-red,red);
	color: var(--basic-white);
}
.button-green,
.button-outline{
	border-radius: 2px;
	width:135px;
	font-size: 14px;
}
.button-outline{
	color:var(--basic-blue);
	border: 3px solid var(--basic-green);
	background-color: var(--basic-white);
	line-height: 12px;
}
.button-green{
	background-color: var(--basic-green);
	color: var(--basic-white);
	background-image: url(img/icon-cart.svg);
	background-repeat: no-repeat;
	line-height: 18px
}
.button-green:hover,
.button-green:focus{
	background-color: var(--success);
}
.button-outline:hover,
.button-outline:focus{
	color:var(--basic-blue);
	border: 3px solid var(--basic-blue);
	background-color: var(--basic-white);
}
.button-outline:active{
	opacity: .5;
}
.button-green:active{
	background-color: var(--active-green);
}
.button-rose{
	background-color: var(--spesial-rose);
	color: var(--basic-white);
}
.button-block{
	width:300px;
	height:38px;
}
.filter{
	font-family:  PT Sans,Arial,sans-serif;
	width:220px;
}
.old-price{
	text-decoration: line-through;
	text-decoration-color:var(--price-grey);
	text-transform: uppercase;
	color:var(--price-grey);
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.new-price{
	background-color: var(--basic-red);
	color:white;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card{
	border: 1px solid var(--border-light-grey);
	box-sizing: border-box;
}
.item-card p{
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
.item-card span{
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card img{
	background-color: var(--basic-background)
}
.heading{
	font-size: 30px;
	line-height: 30px;
	color:var(--basic-blue);
	text-transform: uppercase;
}
.heading-bg{
	background-color:var(--heading-bg);
}
.heading-black{
	color:black;
}
.perf-info{
	background-color: var(--basic-background);
}
.about-us ul{
	list-style: none;
	font-size: 18px;
}
.popular-brands ul{
	list-style: none;
}
.btn-services{
	color:white;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
	display: block;
	height:61px;
	width:240px;
	color:white;
	background-color: var(--basic-blue);
}
.btn-services:active{
	color:var(--basic-blue);
	background-color: white;
}
.btn-services:hover,
.btn-services:focus{
	background-color:var(--basic-darkblue);
}
.services-block ul{
	list-style: none;
}
.service h3{
	color:var(--basic-blue); 
}
.services-block{
	background-color: var(--basic-background)
}
.guaranty,
.delivery,
.credit{
	background-repeat: no-repeat;
	height:250px;
}
.delivery{
	background-image: url(img/delivery.png);
}
.guaranty{
	background-image: url(img/guaranty.png);
}
.credit{
	background-image: url(img/credit.png);
}
.fieldset-filter{
	font-size: 15px;
	line-height: 19px;
	border:none;
}
.fieldset-filter ul{
	list-style: none;
}
.heading-filter{
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}
.price-range{
	height:38px;
	width:180px;
	-webkit-appearance:none;
}
.price-range::-webkit-slider-thumb{
	-webkit-appearance:none;
	background-color: var(--range-thumb-bg);
	display: block;
	border:0.5px solid var(--range-thumb-bg);
	width:20px;
	height:20px;
	border-radius: 100px;
	border:8px solid white;
	box-shadow: 0 5px 5px -5px grey;
	margin-top:-12px;
}
.range{
	background-color: var(--range-thumb-bg);
	display: block;
	border:0.5px solid var(--range-thumb-bg);
	width:20px;
	height:20px;
	border-radius: 100px;
	border:8px solid white;
	box-shadow: 0 5px 5px -5px var(--grey);
	margin-top:-91px;
	margin-left:13px;
	position: relative;
    z-index:1;
}
.price-range::-webkit-slider-runnable-track{
	width:100%;
	height:2px;
	background-color:var(--runnable-track-bg);
	border-radius: 2px;
	border:0.5px solid var(--runnable-track-border);
}
.for-price-range input{
	position:relative;
	background-color:transparent;
	width:180px;
	height:80px;
	padding:0;
	margin-left:20px;
    margin-bottom: 39px;
    position: relative;
    z-index: 0;
}
.price-range-bg{
	background-color:var(--purple-background);
	height:80px;
	width:220px;
}
.input-for-price{
	background-color:#F7F3EC;
	height:38px;
	width:95px;
	border:none;
	font-size: 17px;
	line-height: 18px;
	font-family:PT Sans, Arial, sans-serif;
	text-align: center;
	padding-left:43;
}
.power-radio,
.brand-checkbox{
	padding-left:25px;
	line-height:33px;
	padding-top:7px;
	padding-bottom:7px;
	text-transform: uppercase;
}
.power-radio,
.brand-checkbox,
.input-radio:checked,
.input-check:checked{
	background-repeat: no-repeat;
	background-position: 0%,50%;
}
.power-radio{
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.3542C0 6.45125 5.597 0.854248 12.5 0.854248C19.403 0.854248 25 6.45125 25 13.3542C25 20.2572 19.403 25.8542 12.5 25.8542C5.597 25.8542 0 20.2572 0 13.3542ZM21 13.3542C21 8.66725 17.187 4.85425 12.5 4.85425C7.813 4.85425 4 8.66725 4 13.3542C4 18.0412 7.813 21.8542 12.5 21.8542C17.187 21.8542 21 18.0412 21 13.3542Z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}
.input-radio:checked + .power-radio{
	background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 13.3542C0 6.45125 5.597 0.854248 12.5 0.854248C19.403 0.854248 25 6.45125 25 13.3542C25 20.2572 19.403 25.8542 12.5 25.8542C5.597 25.8542 0 20.2572 0 13.3542ZM21 13.3542C21 8.66725 17.187 4.85425 12.5 4.85425C7.813 4.85425 4 8.66725 4 13.3542C4 18.0412 7.813 21.8542 12.5 21.8542C17.187 21.8542 21 18.0412 21 13.3542Z' fill='%23C5C5C5'/%3E%3Cpath d='M12.5 17.8542C14.9853 17.8542 17 15.8395 17 13.3542C17 10.869 14.9853 8.85425 12.5 8.85425C10.0147 8.85425 8 10.869 8 13.3542C8 15.8395 10.0147 17.8542 12.5 17.8542Z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}
.brand-checkbox{
	background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0H20C21.65 0 23 1.35 23 3V20C23 21.65 21.65 23 20 23H3C1.35 23 0 21.65 0 20V3C0 1.35 1.35 0 3 0ZM21 3C21 2.458 20.542 2 20 2H3C2.458 2 2 2.458 2 3V20C2 20.542 2.458 21 3 21H20C20.542 21 21 20.542 21 20V3Z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}
.input-check:checked + .brand-checkbox{
	background-image: url("data:image/svg+xml,%3Csvg width='27' height='23' viewBox='0 0 27 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.28505 7.48598L4.45605 10.315L12.2391 18.098L26.1711 4.16598L23.3431 1.33698L12.2391 12.439L7.28505 7.48598Z' fill='%23C5C5C5'/%3E%3Cpath d='M21 20C21 20.542 20.542 21 20 21H3C2.458 21 2 20.542 2 20V3C2 2.458 2.458 2 3 2H19.908L21.493 0.415C21.041 0.146542 20.5257 0.00329969 20 0H3C1.35 0 0 1.35 0 3V20C0 21.65 1.35 23 3 23H20C21.65 23 23 21.65 23 20V10.171L21 12.171V20Z' fill='%23C5C5C5'/%3E%3C/svg%3E");
}
.sorting{
	text-transform: uppercase;
	background-color:var(--purple-background);
}
.sorting-setting{
	font-family: PT Sans,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: rgba(0,0,0,.3);
	border-bottom: 1px dashed var(--basic-red);
}
.increase,
.decrease{
	background-image: url(img/icon-down-dir.svg);
	background-repeat: no-repeat;
	height:10px;
	width:11px;
	border-bottom: none;
}
.increase{
	transform:rotate(180deg);
}
.breadcrumbs a{
	font-family: PT Sans,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
}
.breadcrumbs-icon-home,
.breadcrumbs-icon{
	background-repeat: no-repeat;
	width: 6.52px;
	height: 10.3px;
}
.breadcrumbs-icon{
	background-image: url(img/icon-to-right.svg);
}
.breadcrumbs-icon-home{
	background-image: url(img/icon-home.svg);
}
.catalog-link{
	background-image: url(img/icon-to-right.svg);
	background-repeat: no-repeat;
}
.btn-filter{
	font-family: PT Sans,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	background-color: white;
	border: 1px solid var(--border-color);
	text-transform: uppercase;
	display: inline-block;
}
.pages-link{
	color:black;
	text-align: center;
	border: 1px solid var(--border-color);
	border-radius: 2px;
	font-family: PT Sans,Arial,sans-serif;
	font-size: 13px;
	line-height: 18px;
	height:38px;
	width:38px;
	padding-top:10px;
	padding-bottom: 10px;
}
.next-page{
	width:auto;
	padding-left:32px;
	padding-right:31px;
	text-transform: uppercase;
}
.slider ul{
	list-style: none;
}
.slider-heading{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color:var(--basic-white);
}
.btn-previous,
.btn-next{
	background-image: url(img/icon-for-slider.svg);
	height:40px;
	width:22px;
	background-color: white;
	border:none;
}
.btn-next{
	transform:rotate(180deg);
}
.dot{
	border-radius:100px;
	height:10px;
	width:10px;
	background-color: white;
	border:none;
	padding: 0;
}
.paragraph{
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans, Arial, sans-serif;
}
.info-about-perf{
	background-color: var(--basic-background)
}
.add-card{
	height:123px;
	width:300px;
	background-repeat: no-repeat;
	background-position: 80%, 50%;
}
.add-card p{
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	color:var(--basic-white);
}
a.btn-add-card{
	text-transform: uppercase;
	color:var(--basic-white);
	background-color: rgba(255,255,255,.3);
	font-size: 14px;
	line-height: 38px;
	height:38px;
	width:135px;
	text-transform: uppercase;
	text-align: center;
}
.material-card{
	background-color: var(--special-yellow);
	background-image: url(img/icon-materials.svg);
}
.instument-card{
	background-color: var(--special-blue);
	background-image: url(img/icon-instr.svg);
}
.tech-card{
	background-color: var(--special-lilac);
	background-image: url(img/icon-tech.svg);
}
.sales-card{
	background-color: var(--special-greenlight);
	background-image: url(img/icon-sale.svg);
}
.delivery-card{
	background-color:var(--delivery-bg);
	background-image: url(img/icon-delivery.svg);
}
.brand-bosch{
	background-image: url(img/bosch.png);
}
.brand-makita{
	background-image: url(img/makita.png);
}
.brand-interskol{
	background-image: url(img/interskol.png);
}
.brand-dewalt{
	background-image: url(img/dewalt.png);
}
.brand-aeg{
	background-image: url(img/aeg.png);
}
.brand-lg{
	background-image: url(img/lg.png);
}
.brand-hitachi{
	background-image: url(img/hitachi.png);
}
.brand-metabo{
	background-image: url(img/metabo.png);
}
.popular-brands li{
	background-repeat: no-repeat;
	height:145px;
	width:220px;
	border: 1px solid var(--border-light-grey);
}

