:root{
	--basic-blue:#32425C;
	--basic-darkblue:#293449;
	--basic-background:#F1F5F7;
	--special-background:#F9F5F0;
	--basic-red:#EE3643;
	--basic-green:#63A63E;
	--basic-grey:#3D546F;
	--basic-lightgrey:#C5C5C5;
	--basic-white:#FFFFFF;
	--basic-darkgreen:#518534;
	--special-yellow:#FFBF47;
	--special-blue:#3BBCE3;
	--special-lilac:#DC91D8;
	--special-greenlight:#8ED78F;
	--special-yellowlight:#FFD180;
	--spesial-rose:#FF5357;
	--special-darkblue:#161D29;
	--special-grey: #C5C5C5;
	--spesial-for-adress:#F3F7F9;
	--special-for-footer-nav:#F1F5F7;
	--spesial-heading:#F9F5F0;
	--warning:#FFBF47;
	--mistake:#BA2732;
	--success:#5FBB2D;
}
html{
	box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body{
	margin:0;
	font-family: 'Cuprum', sans-serif,arial;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.main-header{
	background-color: var(--basic-background);
	height:343px;
}
a{
	text-decoration: none;
	display: inline-block;
}
.img-logo{
	background-color: var(--basic-red,red);
}
.header-wrapper{
	display:flex;
	height:42px;
}
.link-logo{
	background-color: var(--basic-red,red);
	height:47px;
	width:220px;
}
.header-wrapper a{
	line-height: 36px;
	padding-top: 9px;
	padding-bottom: 9px;
} 
.header-wrapper{
    background-color: var(--basic-darkblue);
}
.header-wrapper a{
	height:42px;
	vertical-align: middle;
	margin:0; 
}
.main-nav{
	background-color: var(--basic-blue)
}
.header-wrapper a,
.main-nav a{
	color:var(--basic-white, white);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px; 
}
.search{
	background-color: var(--basic-darkblue);
	border:none;
	background-image: url(img/icon-search.svg);
	background-repeat: no-repeat;
	background-position:;
	font-size: 18px;
	line-height: 24px; 
}
.search:focus{
	background-color: var(--basic-white);
	outline: none;
}
.search::placeholder{
	color:var(--basic-white, white);
	font-size: 18px;
	line-height: 24px; 
}
.cart{
	background-color:var(--basic-darkblue, blue);
	color:var(--basic-white, white);
	text-decoration: none;
	background-image: url(img/icon-cart.svg);
	background-repeat: no-repeat;
}
.bookmark{
	background-image: url(img/icon-bookmark.svg);
	background-repeat: no-repeat;
}
.bookmark:active,
.cart:active{
	opacity:.5;
	background-color: #161D29;
}
.bookmark:hover,
.bookmark:focus{
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 15c0 .55-.37.74-.82.43l-5.36-3.77a1.54 1.54 0 00-1.64 0L.82 15.43c-.45.31-.82.12-.82-.43V1a1 1 0 011-1h12a1 1 0 011 1v14z' fill='%23fff' opacity='1'/%3E%3C/svg%3E");
}
.cart:hover,
.cart:focus{
	background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='1' fill='%23fff'%3E%3Cpath d='M4.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM12.5 15a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951V2z'/%3E%3C/g%3E%3C/svg%3E");
}
.order{
	background-color: var(--basic-green, red);
	color:var(--basic-white, white);
	text-decoration: none;
}
.order:active{
	opacity: .5;
}
.order:hover{
	background-color: var(--success)
}
.access{
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 21px;
	color:black;
}
.access:hover,
.access:focus{
	color: var(--basic-red);
}
.access:active{
	color: var(--special-grey);
}
.user-block{
	background-color: white;
	background-image: url(img/icon-user.svg);
	background-repeat: no-repeat;
}
.user-name{
	color:black;
	background-color: rgba(0, 0, 0, 0.0001);
	position: relative;
	left:20px;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 21px;
}
.user-name:active{
	color:var(--special-grey);
}
.user-name:hover{
	color:var(--basic-red);
}
.user-orders,
.user-account{
	color:var(--basic-blue);
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}
.user-orders:hover,
.user-account:hover{
	color:var(--basic-red);
}
.user-orders:active,
.user-account:active{
	color:var(--special-grey);
}
.exit{
	background-image: url(img/icon-logout.svg);
	background-repeat: no-repeat;
	width:20px;
	height:17px;
	border:none;
}
.login{
	background-image: url(img/icon-login.svg);
	background-repeat: no-repeat;
}
.definition{
    font-style: italic;
	font-size: 16px;
	line-height: 23px;
	color:var(--basic-red);
}
.phone{
	color:var(--basic-red);
	font-size: 21px;
	line-height: 30px; 
	border:3px solid var(--basic-white);
	background-image: url(img/icon-phone.svg);
	background-repeat: no-repeat;
	font-weight: bold;
}
.head-contact a{
	display: block;
}
.main-nav ul{
	list-style: none;
}
.main-nav li{
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}
.main-nav li:hover,
.main-nav li:focus{
	background-color: #293449;
}
.main-nav li:active{
	background-color: #1D2739;
	opacity: .5;
}
.footer{
	background-color: var(--basic-blue);
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-white);
}
.footer a{
	color: var(--basic-white);
}
.footer ul{
	list-style: none;
}
.footer-links{
	background-color: var(--basic-darkblue);
	color:white;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}
.social-net a{
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#212A3A;
	height:44px;
	width:44px;
	border-radius: 100px;
}
.social-net a:hover,
.social-net a:focus,
.social-net a:active{
	background-color: var(--basic-red)
}
.vk-icon{
	background-image: url(img/icon-vk.svg);
}
.fc-icon{
	background-image: url(img/icon-facebook.svg);
}
.ig-icon{
	background-image: url(img/icon-instagram.svg);
}
a.footer-nav-item{
	color:var(--special-yellowlight);
	font-size: 18px;
	line-height: 24px;
}
.footer-nav-item:hover,
.footer-nav-item:focus{
	text-decoration: underline;
	text-decoration-color: var(--special-yellowlight)
}
.footer-main-nav a:hover{
	text-decoration: underline;
	text-decoration-color: var(--basic-white)
}
.footer-nav-item:active,
.footer-main-nav a:active{
	opacity: .5;
	text-decoration:none;
}
a.dev-contacts{
	font-size: 16px;
	line-height: 18px;
}
.visually-hidden{
	position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.img-logo{
	background-color: var(--basic-red);
}
.adress{
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	color: var(--basic-white,white);
}
.button{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	height:38px;
	width:192px;
	text-align: center;
	font-family: Cuprum, sans-serif,arial;
}
.button-red{
	background-color:var(--basic-red,red);
	color: var(--basic-white);
}
.button-green,
.button-outline{
	height:38px;
	width:135px;
	border-radius: 2px;
}
.button-outline{
	color:var(--basic-blue);
	border: 3px solid var(--basic-green);
	background-color: var(--basic-white);
}
.button-green{
	background-color: var(--basic-green);
	color: var(--basic-white);
	background-image: url(img/icon-cart.svg);
	background-repeat: no-repeat;
}
.button-green:hover,
.button-green:focus{
	background-color: var(--success);
}
.button-outline:hover,
.button-outline:focus{
	color:var(--basic-blue);
	border: 3px solid var(--basic-blue);
	background-color: var(--basic-white);
}
.button-outline:active{
	opacity: .5;
}
.button-green:active{
	background-color: #518534;
}
a.button-red{
	padding-top:11px;
	padding-bottom:9px;
}
.button-rose{
	background-color: var(--spesial-rose);
	color: var(--basic-white);
}
.button-block{
	width:300px;
	height:38px;
}
.filter{
	font-family: PT Sans, sans-serif, arial;
}
.old-price{
	text-decoration: line-through;
	text-decoration-color: #A9A9A9;
	text-transform: uppercase;
	color: #A9A9A9;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.new-price{
	background-color: var(--basic-red);
	color:white;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card{
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
}
.item-card p{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
.item-card span{
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card img{
	background-color: var(--basic-background)
}
.heading{
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color:var(--basic-blue);
}
.heading-bg{
	background-color: var(--special-background)
}
.service-heading{
	color:black;
}
.perf-info{
	background-color: var(--basic-background);
}
.about-us ul{
	list-style: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.popular-brands ul{
	list-style: none;
}
.btn-services{
	color:white;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	text-align: center;
	display: block;
	height:61px;
	width:240px;
	color:white;
	background-color: var(--basic-blue);
}
.btn-services:active,{
	color:var(--basic-blue);
	background-color: white;
}
.btn-services:hover,
.btn-services:focus{
	background-color:var(--basic-darkblue);
}
.services-block ul{
	list-style: none;
}
.service h3{
	font-size: 36px;
	line-height: 24px;
	color:var(--basic-blue);
	text-transform: uppercase;
	font-weight: normal;
	font-style:normal;
}
.services-block{
	background-color: var(--basic-background)
}
.fieldset-filter{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	border:none;
}
.fieldset-filter ul{
	list-style: none;
}
.heading-filter{
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}
.filter input{
	font-size: 15px;
	line-height: 19px;
}
.breadcrumbs a{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	color: black;
	text-transform: uppercase;
}
.breadcrumbs-icon{
	background-image: url(img/icon-to-right.svg);
	background-repeat: no-repeat;
	width: 6.52px;
	height: 10.3px;
}
.catalog-link{
	background-image: url(img/icon-home.svg);
	background-repeat: no-repeat;
}
.btn-filter{
	font-family: PT Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	background-color: white;
	border: 1px solid #E5E5E5;
	text-transform: uppercase;
}
.btn-add-card{
	text-transform: uppercase;
}
.slider ul{
	list-style: none;
}
.slider-heading{
	text-transform: uppercase;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	color:var(--basic-white);
}
.paragraph{
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	font-family: PT Sans, sans-serif, arial;
}
.info-about-perf{
	background-color: var(--basic-background)
}

