:root{
	--basic-blue:#32425C;
	--basic-darkblue:#293449;
	--basic-background:#F1F5F7;
	--basic-red:#EE3643;
	--basic-green:#63A63E;
	--basic-grey:#3D546F;
	--basic-lightgrey:#C5C5C5;
	--basic-white:#FFFFFF;
	--basic-darkgreen:#518534;
	--special-yellow:#FFBF47;
	--special-blue:#3BBCE3;
	--special-lilac:#DC91D8;
	--special-greenlight:#8ED78F;
	--special-yellowlight:#FFD180;
	--spesial-rose:#FF5357;
	--special-darkblue:#161D29;
	--special-grey: #C5C5C5;
	--warning:#FFBF47;
	--mistake:#BA2732;
	--success:#5FBB2D;
}
html{
	box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body{
	margin:0;
	font-family: 'Cuprum', sans-serif;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.main-header{
	background-color: var(--basic-background);
	height:273px;
}
a{
	text-decoration: none;
}
.img-logo{
	background-color: var(--basic-red,red)
}
.header-wrapper{
	display:flex;
}
.header-wrapper a{
	line-height: 36px;
	padding-top: 9px;
	padding-bottom: 9px;
} 
.header-wrapper{
    background-color: var(--basic-darkblue);
}
.header-wrapper a{
	height:42px;
	vertical-align: middle;
	margin:0; 
}
.main-nav{
	background-color: var(--basic-blue)
}
.header-wrapper a,
.main-nav a{
	color:var(--basic-white, white);
}
.header-wrapper input{
	background-color: var(--basic-darkblue);
	border:none;
}
.header-wrapper input:focus{
	background-color: var(--basic-white);
	outline: none;
}
.header-wrapper input::placeholder{
	color:var(--basic-white, white);
}
.cart{
	background-color:var(--basic-darkblue, blue);
	color:var(--basic-white, white);
	text-decoration: none;
}
.order{
	background-color: var(--basic-green, red);
	color:var(--basic-white, white);
	text-decoration: none;
}
.order:active{
	opacity: .5;
}
.order:hover{
	background-color: var(--success)
}
.access{
	background-color: var(--basic-white);
	font-size: 21px;
	line-height: 21px;
	font-family: Cuprum, sans-serif;
	color:black;
}
.access:hover,
.access:focus{
	color: var(--basic-red);
}
.access:active{
	color: var(--special-grey);
}
.user-name{
	color:black;
	background-color: var(--basic);
}
.user-name:active{
	color:var(--special-grey);
}
.user-orders,
.user-account{
	color:var(--basic-blue);
}
.user-orders:hover,
.user-account:hover{
	color:var(--basic-red);
}
.user-orders:active,
.user-account:active{
	color:var(--special-grey);
}
.phone{
	color:var(--basic-red);
	font-size: 21px;
	line-height: 30px; 
	border:2px solid var(--basic-white);
}
.head-contact a{
	display: block;
}
.main-nav ul{
	list-style: none;
}
.main-nav ul li{
	display: inline-block;
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}
.footer-navigation{
	background-color: var(--basic-blue);
	margin:0;
	font-family: Cuprum, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}
.footer-nav a{
	color: var(--basic-white);
	font-family: Cuprum, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}
footer ul{
	list-style: none;
}
.footer-links{
	background-color: var(--basic-darkblue);
	color:white;
	margin:0;
	font-family: Cuprum, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
}
a.footer-nav-item,
.footer-links .feedback,
.footer-links .developed-by{
	color:var(--special-yellowlight);
}
.visually-hidden{
	display: none;
}
.img-logo{
	background-color: var(--basic-red);
}
.perf-info h2,
.about-us h2{
	color:black;
	font-size: 30px;
	line-height: 30px;
	font-family: Cuprum, sans-serif;
}
.old-price{
	text-decoration: line-through;
	text-decoration-color: #A9A9A9;
	text-transform: uppercase;
	color: #A9A9A9;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.new-price{
	background-color: var(--basic-red);
	color:white;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card{
	border: 1px solid #EAEAEA;
	box-sizing: border-box;
}
.item-card p{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
}
.item-card span{
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}
.item-card img{
	background-color: var(--basic-background)
}
.pathname li{
	display: inline-block;
	font-family: Cuprum, sans-serif;
	font-size: 13px;
	line-height: 18px;
}
.pathname a{
	color:var(--base-blue);
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
}
h1{
	background-color: var(--basic-background);
	color: var(--basic-blue);
	font-family: Cuprum, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}
fieldset{
	border:none;
}
.perf-info{
	background-color: var(--basic-background);
	font-size: 13px;
	line-height: 24px;
	font-style: normal;
	font-weight: normal;
}
.about-us{
	font-family: Cuprum, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
}
.contacts h2,
.about-us h2{
	font-family: Cuprum;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}
.about-us ul{
	list-style: none;
}
.credit-btn-send,
.link-about-us{
	background-color: var(--basic-red);
	color:white;
	font-size: 18px;
	line-height: 24px;
}
.fieldset-filter{
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
}
.fieldset-filter ul{
	list-style: none;
}


